extends layout

block content
    .jumbotron
        h1 
            img(src='/images/markdown-logo.png')
            span.title #{title}
        p.lead Free online tool to format amazing Markdown code into ugly Confluence Wiki Compatible text.
    form#convert-form.col-md-12.col-lg-6(method="post")
        #input.row
            .form-group
                h3
                    label(for='markdown') Markdown:
                textarea#markdown.form-control(type='textarea', placeholder='Paste your markdown code here' name='markdown', rows=25) #{markdown}
            .form-group
                button#markdown-clear.btn.btn-danger Clear
                button.btn.btn-primary.ml5(type='submit') Convert !
    #output.col-md-12.col-lg-6
        .form-group
            h3 
                label(for='confluence') Confluence:
            textarea#confluence.form-control(name='confluence', rows=25) #{confluenceCode}
        .form-group
            button#clipboard-copy.btn.btn-primary Copy to clipboard

block javascript
    script.
        $('#markdown-clear').on('click', function() {
            $('#markdown').val('');
        })

        $('#clipboard-copy').on('click', function(event) {
            var copyTextarea = $('#output textarea');
            copyTextarea.select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
            } catch (err) {
                console.log(err);
            }
        });
