doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        block css
        script(src='/javascripts/jquery.min.js')
    body
        .container
            block content
    footer
        block javascript
